<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link rel="icon" type="image/png" href="/favicon-96x96.png?=v2" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?=v2" />
    <link rel="shortcut icon" href="/favicon.ico?=v2" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png?=v2" />
    <meta name="apple-mobile-web-app-title?=v2" content="Jack Stirzaker" />
    <link rel="manifest" href="/site.webmanifest?=v2" />

		<meta name="generator" content={Astro.generator} />
		<title>Jack Stirzaker</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
