---
// import Navbar from '../components/Navbar.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <link
      rel="icon"
      type="image/png"
      href="/favicon-96x96.png?=v3"
      sizes="96x96"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg?=v3" />
    <link rel="shortcut icon" href="/favicon.ico?=v3" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-touch-icon.png?=v3"
    />
    <meta name="apple-mobile-web-app-title?=v3" content="Jack Stirzaker" />
    <link rel="manifest" href="/site.webmanifest?=v3" />

    <meta name="generator" content={Astro.generator} />
    <title>Jack Stirzaker</title>
  </head>
  <body class="bg-gradient-to-r from-blue-200 to-blue-300 dark:from-blue-600 dark:to-blue-800 md:min-h-screen h-auto flex md:justify-center md:items-center p-4">
    <!--<Navbar />-->
    <slot />
  </body>

</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
